.iconBackdrop {
        width: 450px;
        height: 500px;
        position: fixed;
        z-index: -99;

        transform: rotate(-25deg) translate(20px, 80px);
        background-color: rgb(170, 170, 170);
}


.map {
        min-height: 400px;
        width: 100%;
        margin-bottom: 50px;

        background-color: #a83434;
}


.psudoBody {
      margin: auto;
      max-width: 1200px;
}

.maincontent {
        max-width: 1200px;
        margin: 0 100px;
        display: flex;
        flex-direction: column; 
        font-family: Calps, sans-serif;
        font-weight: bold;
}






/* Titles */
.titleBlock {
       margin-top: 50px;
}

.titleBlock p {
        font-family: Calps, sans-serif;
        font-weight: bold;
        font-size: 24px;

        /* Hax for calps font spacing */
        /* margin-bottom: 20px; */
        position: relative;
        top: -30px;
}


h1 {
        font-family: Calps, sans-serif;
        font-size: 96px;
        font-weight: bold;
}

h2 {
        font-size: 48px;
}



/* Events content  */
/* .offerings {
        background-color: rgba(0, 0, 0, 0.332);
} */

.mobileOfferings {
        display: none;
        flex-direction: column;
}

nav ul {
        height:1000px; 
}
nav ul {
        overflow:hidden; 
        overflow-y:scroll;
}


/* scroll bar */
::-webkit-scrollbar-thumb {
        background: #cdcdcd;
}
::-webkit-scrollbar {
        width: 5px;
}




/* Placeholder cards */
.card {
        max-width: 1200px;
        min-width: 800px;
        min-height: 400px;
        margin-bottom: 20px;

        background-color: aqua;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.762);
}

.info {
        width: 700px;
        min-height: 400px;
        float: right;

        background-color: rgb(241, 184, 70);
}

.Mobilecard {
        width: 350px;
        height: 100px;
        margin-bottom: 20px;

        background-color: aqua;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.762);
}

.Mobileinfo {
        width: 250px;
        height: 100px;
        float: right;

        background-color: rgb(241, 184, 70);
}





@media screen and (max-width:1000px) {
        /* Maybe use mobile cards here */
        h1 {
                font-size: 65px;
        }
        .titleBlock p {
                /* removed Hax for calps font spacing */
                margin-top: 10px;
        }
        .maincontent {
                margin: 0 30px;
        }

}
@media screen and (max-width:550px) {
        /* Mobile view. Map gets thrown to bottom, collaps */
        .map {
                order: 1;
                margin: 20px auto;
        }

        h1 {
                font-size: 48px;
        }

        h2 {
                font-size: 24px;
        }
        .titleBlock p {
                font-size: 16px;
                /* remove Hax for calps font spacing */
                margin-top: 10px;
        }
       
        .maincontent {
                margin: 0 10px;
        }

        /* reformat cards for mobile */
        .offerings {
                display: none;
        }


        .mobileOfferings {
                display: flex;
        }
        nav ul {
                height:500px; 
                width: 400px;
                background-color: rgba(0, 255, 255, 0.227);
        }
}
