.page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo{
    float: left;
    width: 300px;
    display: center;
}

.header{
    display: flex;
    width: 100%;
    height: 95px;
    background-color: #005731;
    overflow: hidden;
    justify-content: space-between;
}

.header-links{
    float: right;
    padding: 0px 25px;
}

.header-links a{
    float: left;
    color: white;
    padding: 30px 16px;
}

.header-links a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.3s;
}

.main {
    flex: 1 0 auto;
    overflow: auto; /* to scroll just the "main" div */
    min-height: auto;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    width: 100%;
    height: 95px;
    background-color: #005731;
    overflow: hidden;
    justify-content: space-between;
}

.footer-wrap{
    display: flex;
    flex-direction: row;
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-links a{
    float: left;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.footer-links a:hover{
    text-decoration: underline;
    transform: scale(1.05);
    transition: 0.3s;
}

.footer-subscription{
    display: flex;
    flex-direction: column;
}

.subscription-inputs{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
}
.email-input{
    display: inline-flex;
    padding: 2px 30px 2px 8px;
    align-items: center;
}
.button-style{
    display: flex;
    width: 81px;
    height: 30px;
    padding: 3px 15px;
    gap: 10px;
    flex-shrink: 0;
    background: var(--TOPOGRAPHIC-GREEN, #00A62E);
    backdrop-filter: blur(2px);
    color: white;
}

.subscribe-text{
    color: white;
    padding: 5px;
    font-size: 15px;
}

